@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: -o-radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  background: -o-radial-gradient(circle, rgb(255, 15, 120) 0%, rgb(66, 143, 233) 100%);
  background: radial-gradient(circle, rgb(255, 15, 120) 0%, rgb(66, 143, 233) 100%);
  z-index: 1000;
  margin-bottom: 3.125rem;
}

.header__container {
  padding-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  padding-bottom: 1.25rem;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #000;
  gap: 0.625rem;
  padding: 0.625rem 1.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__button::before {
  content: "";
  background: url("../img/header/cart.svg") center no-repeat;
  height: 1.125rem;
  width: 1.25rem;
}

.header__button:hover {
  -webkit-transform: translate(0px, -3px);
      -ms-transform: translate(0px, -3px);
          transform: translate(0px, -3px);
}

.header__call {
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.header__call:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
}

.menu__link {
  color: #fff;
  font-weight: 700;
  position: relative;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover::after {
  content: "";
  width: 100%;
}

.rate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.rate__item span {
  color: red;
  font-size: 1.25rem;
  font-weight: 700;
}

.rate__value {
  display: inline-block;
  border: 1px solid #000;
  padding: 0.3125rem;
}

.icon-menu {
  display: none;
}

.footer {
  background: -o-radial-gradient(circle, rgb(255, 15, 120) 0%, rgb(66, 143, 233) 100%);
  background: radial-gradient(circle, rgb(255, 15, 120) 0%, rgb(66, 143, 233) 100%);
  color: #fff;
}

.footer__container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__title {
  font-weight: 700;
  font-size: 2.1875rem;
  margin-bottom: 0.9375rem;
}

.nav__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.nav__link {
  font-size: 1.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav__link:hover {
  color: red;
}

.contacts__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.contacts__link {
  font-size: 1.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts__link:hover {
  color: blue;
}

.social__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.social__link {
  background-color: rgba(0, 0, 0, 0.627);
  padding: 0.625rem;
  display: inline-block;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__link:hover {
  background-color: #000;
}

.arrow {
  position: fixed;
  bottom: 0.625rem;
  right: 0.625rem;
}

.arrow__item {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 0.625rem;
  display: inline-block;
}

.arrow__item span {
  width: 0;
  height: 0;
  border-left: 1.5625rem solid transparent;
  border-right: 1.5625rem solid transparent;
  border-bottom: 3.125rem solid rgb(255, 255, 255);
  display: inline-block;
}

.main-block {
  margin-bottom: 3.125rem;
}

.main-block__label {
  text-align: center;
  margin-bottom: 1.5625rem;
}

.main-block__label > * {
  margin-bottom: 0.9375rem;
}

.main-block__label > *:last-child {
  margin-bottom: 0rem;
}

.main-block__title {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.main-block__subtitle {
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1.2;
}

.main-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.main-block__column {
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  padding: 0.9375rem 0.625rem;
}

.main-block__column > * {
  margin-bottom: 0.9375rem;
}

.main-block__column > *:last-child {
  margin-bottom: 0rem;
}

.main-block__caption {
  font-weight: 500;
  font-size: 1.4375rem;
  text-align: center;
}

.main-block__text {
  text-align: center;
  line-height: 1.2;
}

.main-block__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.how {
  margin-bottom: 3.125rem;
}

.how__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 1.5625rem;
}

.how__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}

.how__column {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375rem 0.625rem;
  border-radius: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.how__column > * {
  margin-bottom: 0.9375rem;
}

.how__column > *:last-child {
  margin-bottom: 0rem;
}

.how__icon {
  text-align: center;
}

.how__text {
  max-width: 21.875rem;
  text-align: center;
  line-height: 1.2;
}

.how__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.features {
  margin-bottom: 3.125rem;
}

.features__title {
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 1.5625rem;
}

.features__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 4.375rem 1fr;
  -ms-grid-columns: 200px 4.375rem 200px 4.375rem 200px;
      grid-template: 1fr 1fr/repeat(3, 200px);
  grid-auto-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4.375rem;
}

.features__column {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__column > * {
  margin-bottom: 0.9375rem;
}

.features__column > *:last-child {
  margin-bottom: 0rem;
}

.features__caption {
  font-weight: 500;
  font-size: 1.5625rem;
  max-width: 12.5rem;
  line-height: 1.15;
}

.features__text {
  line-height: 1.2;
}

.features__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.form {
  margin-bottom: 3.125rem;
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__body > * {
  margin-bottom: 0.9375rem;
}

.form__body > *:last-child {
  margin-bottom: 0rem;
}

.form__title {
  font-size: 2.375rem;
  font-weight: 700;
  margin-bottom: 1.5625rem;
  text-align: center;
}

.form__item {
  margin-bottom: 1.25rem;
}

.form__label {
  font-size: 1.625rem;
  display: block;
  margin-bottom: 0.625rem;
}

.form__input {
  height: 3.125rem;
  padding: 1.25rem;
  border-radius: 5px;
  width: 100%;
  background-color: #000000;
  color: #fff;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 10px #ff0000;
          box-shadow: 0 0 10px #ff0000;
}

.form__input:hover {
  -webkit-box-shadow: 0 0 5px #ff0000;
          box-shadow: 0 0 5px #ff0000;
}

.form__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3.75rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #000000;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__button:hover {
  -webkit-transform: translate(0px, -3px);
      -ms-transform: translate(0px, -3px);
          transform: translate(0px, -3px);
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 75em) {
  .header__actions {
    gap: 1.5625rem;
  }
}

@media (max-width: 68.75em) {
  .header__actions {
    gap: 0.9375rem;
  }
}

@media (max-width: 61.99875em) {
  .how__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .features__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 47.99875em) {
  .header__actions {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.9375rem;
  }

  .header__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    text-align: center;
    padding: 4.375rem 0.9375rem 1.875rem 0.9375rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 3.75rem;
    background-color: #fff;
    z-index: 2;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    content: "";
    left: 0;
  }

  .menu__item {
    text-align: center;
    margin-bottom: 1.875rem;
  }

  .menu__link {
    font-size: 2rem;
    color: #000;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__title {
    text-align: center;
  }

  .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-block__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 68.75em) and (max-width: 75em) {
@supports (gap: clamp( 0.9375rem , -5.9375rem  +  10vw , 1.5625rem )) {
    .header__actions {
      gap: clamp( 0.9375rem , -5.9375rem  +  10vw , 1.5625rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -5.9375rem  +  10vw , 1.5625rem )) {
    .header__actions {
      gap: calc(0.9375rem + 0.625 * (100vw - 68.75rem) / 6.25);
    }
}
}